/**
 * All of the CSS for your admin-specific functionality should be
 * included in this file.
 */
 .poke-admin-image img {
    width: 50px;
}
td.row-title.pokeshortcode {
    cursor: pointer;
}
p{
    padding: 8px 12px;
}